@charset "UTF-8";
.navbar {
  display: grid;
  grid-template-columns: auto 3fr auto;
  justify-items: center;
  padding: 3px;
  color: white;
  border-bottom: 1px solid black;
}

.logo img {
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

/* Estilos para los botones de navegación */
.nav-buttons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.nav-buttons li {
  margin: 0 10px;
  font-size: 18px;
}
.nav-buttons a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.right-button {
  display: flex;
  justify-content: center;
  padding: 0;
  text-decoration: none;
}
.right-button button {
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-bottom: 20px 20px;
}
.right-button a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-bottom: 10px 20px;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descripcion-disenadora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.foto-disenadora img {
  height: 300px;
  width: 500px;
}

.servicios-disenadora {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}

.servicios-home ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin-top: 100px;
  margin-bottom: 40px;
  gap: 30px;
}

.servicios-home ul li {
  font-size: 20px;
  font-weight: bold;
}

.botoncontacto-seccion2home {
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 70px;
  margin-right: 0;
}

.botoncontacto-seccion2home a {
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.testimonio-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.testimonio-home img {
  display: block;
  margin: 0 auto;
  height: 60px;
  margin-bottom: 3px;
}

.testimonio-uniandes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.testimonio-uniandes p {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-top: 1px;
}

.conectate-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.conectate-home h3 {
  font-size: 35px;
  margin-bottom: 3px;
}

.conectate-home p {
  margin-bottom: 30px;
}

.botones-contactohome {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* inicio footer */
.footer-topcompleto {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-top: 2px solid black;
}

.footer-top {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* inicio pagina de proyectos o portafolio */
.titulo-proyectosdestacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titulo-proyectosdestacados h1 {
  margin-top: 30px;
  margin-bottom: 2px;
}

.titulo-proyectosdestacados p {
  margin-top: 0px;
}

/* inicio seccion de proyectos */
.proyecto-1, .proyecto-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 3px;
}

.proyecto-1 img, .proyecto-2 img {
  width: 70%;
  height: 60%;
  object-fit: cover;
  margin: 30px;
}

.contenido-proyecto1, .contenido-proyecto2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  padding: 0 3px;
}

.texto-proyecto1, .texto-proyecto2 {
  text-align: left;
  width: 70%;
}

.texto-proyecto1 h3, .texto-proyecto2 h4 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.texto-proyecto1 p, .texto-proyecto2 p {
  margin-top: 3px;
}

.contenido-proyecto1 a, .contenido-proyecto2 a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  border: none;
}

/* fin de primer y segundo proyecto en pagina de proyectos */
/* Sección de habilidades y servicios */
.habilidades-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 60px;
  margin-left: 70px;
  align-items: center;
  margin-top: 2px;
}

/* Galería de proyectos */
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 60px;
  margin-left: 70px;
  margin-top: 60px;
  margin-bottom: 1px;
}

.galeria img {
  width: 100%;
  height: 50%;
}

.titulo-galeria {
  font-size: 20px;
  font-weight: bold;
}

.galeria a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  border: none;
  margin-top: 2px;
}

/* fin de la pagina de proyectos */
/* === Footer === */
.footer {
  width: 100%;
  border-top: 2px solid black;
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Columna izquierda: Logo */
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.footer-logo img {
  width: 120px; /* Ajusta el tamaño según lo que necesites */
  height: auto;
}

/* Columna central: Textos */
.footer-textos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 2;
  justify-content: center; /* Centra los textos */
}

.footer-textos span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0 10px; /* Espaciado entre los textos */
}

/* Columna derecha: Íconos */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
}

.footer-icons i {
  font-size: 20px;
  margin-left: 15px; /* Espaciado entre los íconos */
  cursor: pointer;
}

/* Sección de Contacto */
.contactame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-left: 60px;
}

/* Sección de Servicios Copy */
.servicios-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/* Sección de Diferentes Servicios */
.diferentes-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.logo img {
  width: 150px;
}

.nav-buttons li {
  margin-left: 20px;
}

.nav-buttons a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.right-button button {
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
}

.right-button button a {
  color: #000000;
  text-decoration: none;
}

/* Icono de hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #000000;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  /* Menú de navegación */
  .nav-buttons ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #ffffff;
  }
  .nav-buttons li {
    margin: 20px 0;
  }
  .hamburger {
    display: flex;
  }
  .menu-toggle:checked + .hamburger + .nav-buttons ul {
    display: flex;
  }
  /* Sección Descripción Diseñadora */
  .descripcion-disenadora {
    flex-direction: column;
    padding: 20px;
  }
  .informacion-disenadora {
    width: 100%;
    text-align: left;
  }
  .titulo-home {
    font-size: 28px;
  }
  .texto-disenadora {
    font-size: 16px;
  }
  .foto-disenadora {
    width: 100%;
    margin-top: 20px;
  }
  .foto-disenadora img {
    width: 100%;
    margin: 0 auto;
  }
  button {
    width: 100%;
  }
  /* Sección Servicios */
  .servicios-disenadora {
    flex-direction: column;
    padding: 20px;
    text-align: left;
  }
  .servicios-home {
    grid-template-rows: auto;
  }
  /* Testimonios y Contacto */
  .testimonio-home, .conectate-home {
    flex-direction: column;
    padding: 20px;
    text-align: left;
  }
  /* Footer */
  .footer-topcompleto {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-icons {
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }
  .footer-icons i {
    font-size: 25px;
  }
  /* Página de Proyectos */
  .titulo-proyectosdestacados {
    text-align: left;
    margin-left: 20px;
  }
  .proyecto-1, .proyecto-2 {
    height: auto;
  }
  .proyecto-1 img, .proyecto-2 img {
    width: 80%;
    height: auto;
    margin: 10px;
  }
  .contenido-proyecto1, .contenido-proyecto2 {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .texto-proyecto1, .texto-proyecto2 {
    width: 100%;
    text-align: left;
  }
  .contenido-proyecto1 a, .contenido-proyecto2 a {
    font-size: 16px;
  }
  .habilidades-servicios {
    grid-template-columns: 1fr;
    align-items: left;
    gap: 5px;
    margin-top: 10px;
  }
  .galeria {
    grid-template-columns: 1fr;
  }
  /* Sección de Preguntas Frecuentes y Colaboración */
  .preguntas-frecuentes, .colaboremos {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  /* Contacto */
  .contactame {
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  .contactame ul {
    align-items: center;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
}

li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
}

.right-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
}

button {
  background-color: white;
  color: black;
  padding: 12px 24px;
  border: 2px solid black;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

input {
  box-sizing: border-box;
  width: 180px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #000000;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

/*# sourceMappingURL=style.css.map */
